Win32/
Win64/
Debug/
Release/
*.dcu
*.exe
*.dll
*.bpl
*.dcp
*.map
*.rsm
*.tds
*.local
*.bak
*.identcache
*.dsk
*.projdata
*.otares
__history/
__recovery/
__recovery.bak/
*.~*
*.stat
*.tvsconfig
/Unit1.pas
/Unit1.dfm
/NFeExplorer.Artwork/
/lgDescNFe.png
